div {
}

body {
  margin: 0px;
  text-align: center;
  font-family: "Merriweather", serif;
}

h1 {
  margin: 0 auto 0 auto; /* px is not dynamic */
  font-size: 4.5rem; /* 16px = 100% = 1em , rem ignores the inherited value*/
  font-family: "Sacramento", cursive;
  color: #66bfbf;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2.2rem;
  color: #66bfbf;
  font-weight: normal;
}

h3 {
  font-family: "Montserrat", sans-serif;
  color: #11999e;
}

.top {
  background-color: #e4f9f5;
  margin-top: 0;
}

.pro {
  text-decoration: underline;
  font-family: "Montserrat", sans-serif;
}
.bottom-cloud {
  position: absolute;
  left: 300px;
  top: 18rem;
}
.top-cloud {
  position: absolute;
  margin-top: 40px;
  right: 290px;
}
